<!DOCTYPE html>
	<head>
		<title>Pokemon Catch</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/client/styles.css">
	</head>
	<body style="background: url('/client/images/background.jpg')">
		<h1 style = "color: red;" > Pokemon Catch </h1>
		<h2 style = "color: white;"> Safari Zone </h2>
		<a href="#" class="play bt" data="lineUpButton">Music Activate</a>
    <a href="#" class="pause bt" data="lineUpButton">Pause</a>
    <!-- Enable Pikachu -->
    <a href="#" class="addPokemon" data="">Look for Pokemon</a>
    <a href="#" class="showCaught" data="">Pokedex</a>
    <div class = "wildArea">
    </div>
	</body>
<script src="/client/src/init.js"></script>
</html>
