<!DOCTYPE html>
	<head>
		<title>Pokemon Catch</title>
		<link rel="stylesheet" type="text/css" href="../../client/styles.css" />
	</head>
	<body>
		<h1> Pokemon Catch </h1>
		<h2> Safari Zone </h2>
	</body>
</html>