<!DOCTYPE html>
	<head>
		<title>Pokemon Catch</title>
	</head>
	<body style="background: url('https://s-media-cache-ak0.pinimg.com/originals/b1/da/c0/b1dac0470bdf2f7cc0c559599fba19f9.jpg')">
		<h1 style = "color: red;" > Pokemon Catch </h1>
		<h2> Safari Zone </h2>
	</body>
</html>